/* Application-wide Styles */
$arial: Arial, Helvetica, sans-serif;
$cambria: Cambria, Georgia, serif;

$dark-gray: #333;
$blue: #369;
$gray: #444;

h1 {
  color: $blue;
  font-family: $arial;
  font-size: 250%;
}
h2,
h3 {
  color: $gray;
  font-family: $arial;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type="text"],
button {
  color: $dark-gray;
  font-family: $cambria;
}
/* everywhere else */
* {
  font-family: $arial;
}
